{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "@prettier/plugin-xml"],

  "arrowParens": "avoid",

  "importOrder": [
    "^@/(lib|routes)/",
    "^@/assets/",
    "^@/components/",
    "^@/styles/",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
