{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "arrowParens": "avoid",

  "importOrder": ["^@/$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
