{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "@prettier/plugin-xml"],

  "arrowParens": "avoid",

  "importOrder": ["^@/assets/", "^@/components/", "^@/styles/", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
