* {
	background-color: #121212;
	color: #f0f0f0;

	margin: 0;

	text-align: center;
	font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;

	transition: all .2s;
}

@media (prefers-color-scheme: light) {
	* {
		background-color: #f0f0f0;
		color: #121212;
	}
}

#site-container {
	display: flex;
	flex-direction: column;
	
	height: 100vh;
	
	align-items: center;
	justify-content: center;
}

#media-container {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	
	align-items: center;
	justify-content: center;
}

.media:hover {
	transform: scale(1.1);
}

#title {
	font-size: 30vmin;
}

.media {
	padding: 3vmin;

	font-size: 6vmin;
	font-weight: bold;

	text-decoration: none;
	
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#steam {
	background-color: #66c0f4;
	background-image: linear-gradient(135deg, #66c0f4 15%, #2A2A72 100%);
}

#reddit {
	background-color: #FF5700;
	background-image: linear-gradient(135deg, #FF5700 0%, #ec9f05 75%);
}

#discord {
	background-color: #7289DA ;
	background-image: linear-gradient(135deg, #7f53ac 0%, #7289DA  75%);
}