@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Raleway&display=swap");

html {
  background-color: #121212;
  color: #f0f0f0;

  margin: 0;

  text-align: center;
  font-family: "Dosis", sans-serif;

  transition: all 0.2s;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #f0f0f0;
    color: #121212;
  }
}

body {
  display: flex;
  flex-direction: column;

  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  align-items: center;
  justify-content: center;
}

.title {
  font: 30vmin "Raleway", sans-serif;
}

.media {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.media a {
  padding: 3vmin;

  font-size: 6vmin;
  font-weight: bold;

  text-decoration: none;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all 0.2s;
}

.media a:hover {
  transform: scale(1.1);
}

#steam {
  background-color: #66c0f4;
  background-image: linear-gradient(135deg, #66c0f4 15%, #2a2a72 100%);
}

#github {
  background-color: #52465f;
  background-image: linear-gradient(135deg, #5f5e74 0%, #52465f 75%);
}

#discord {
  background-color: #7289da;
  background-image: linear-gradient(135deg, #7f53ac 0%, #7289da 75%);
}
