.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;

  @media (width <= 32rem) or (height <= 32rem) {
    gap: 0.25rem;
  }
}

.media {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;

  color: var(--fg-1);
  text-decoration: none;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;

  @media (width <= 32rem) or (height <= 32rem) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 1.125em;
  font-weight: 900;
}

.name {
  margin: 0;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--fg-2);
}
